a {
  font-size: 3vw;
}

body {
  background-color: #808080;
}


html {
  scroll-behavior: smooth; 
  scroll-padding-top: 60px; 
}

/*@media only screen and (max-width: 600px) {
    a {
      font-size: 4vw;
    }
  }*/
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-text {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.nav-text a {
  color: #EEEEEE; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}  
        
.nav-text a:visited,
.nav-text a:active {
  color: #EEEEEE;
}
        
.nav-text a:hover {
  color: #00ADB5; 
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 2;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  text-align: center;
  padding-top: 60px;
}

#about {
  text-align: center;
  padding: 50px;
}

.about-content {
  max-width: 800px;
  margin: auto;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
}

/* General visible class for transition */
.visible {
  opacity: 1;
  transform: scale(1);  /* Ensure it's scaled to normal size */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Initial state for sections you want to animate */
.section {
  opacity: 0;  /* Start invisible */
  transform: scale(0.8);  /* Start scaled down */
}

.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  padding: 50px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.project {
  width: calc(50% - 20px);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-frame, .project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

#contact {
  text-align: center;
  padding: 50px;
}

#contact:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

#contact a {
  margin: 10px;
  color: #00ADB5;
  font-size: 18px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.space {
  padding: 25px;
}

h2 {
  padding-left: 25px;
  margin-top: -30px;
}

.work-h2 {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.contact-h2 {
  padding-top: 30px;
  margin-bottom: -20px;
  text-align: center; 
  margin-left: 100px;
  margin-right: 100px;
}

.underline-title {
  border-bottom: 7px solid #00ADB5;
}
