a {
  font-size: 3vw;
}

body {
  background-color: #f2f2f2;
}


html {
  scroll-behavior: smooth; 
  scroll-padding-top: 60px; 
}

/*@media only screen and (max-width: 600px) {
    a {
      font-size: 4vw;
    }
  }*/
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-text {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.nav-text a {
  color: #EEEEEE; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}  
        
.nav-text a:visited,
.nav-text a:active {
  color: #EEEEEE;
}
        
.nav-text a:hover {
  color: #00ADB5; 
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 2;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  text-align: center;
  padding-top: 60px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.about-text {
  display: flex;
  justify-content: center;   /* Center content horizontally */
  align-items: center;       /* Align items vertically */
  gap: 20px;                 /* Add space between image and text */
  text-align: left;          /* Align text to the left */
}

.about-content {
  max-width: 800px;
  margin: auto;
  padding-top: 50px;
}

.about-content p {
  max-width: 600px;          /* Ensure paragraph width doesn't get too wide */
  margin-left: 20px;         /* Add margin between the image and the paragraph */
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
}

/*
.visible {
  opacity: 1;
  transform: scale(1);  
  transition: opacity 0.6s ease, transform 0.6s ease;
}


.section {
  opacity: 0;  
  transform: scale(0.8);   
}
*/

.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.skill {
  text-align: center;
  position: relative;
}

.skill-icon {
  width: 75px;
  height: 75px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.skill-text {
  display: none;  /* Hide the text by default */
  position: absolute;
  font-size: 14px;
  padding-top: 5px;
  margin: 0 auto;
}

.skill-icon:hover {
  transform: scale(1.2);
}

.skill-icon:hover + .skill-text {
  display: block;  /* Show the text when the icon is hovered */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.project {
  width: calc(50% - 20px);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project-frame, .project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

#contact {
  text-align: center;
  padding: 50px;
  transition: transform 0.3s ease-in-out;
}

.contact-big {
  display: inline-block; 
  transition: transform 0.3s ease-in-out;
}

.contact-big:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

#contact a {
  margin: 10px;
  color: #00ADB5;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;  
  transform-origin: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.space {
  padding: 25px;
}

h2 {
  padding-left: 25px;
  margin-top: -30px;
}

.work-h2 {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.contact-h2 {
  padding-top: 30px;
  margin-bottom: -20px;
  text-align: center; 
  margin-left: 100px;
  margin-right: 100px;
}

.underline-title {
  border-bottom: 7px solid #00ADB5;
  padding-bottom: 15px;
}
